main {
    padding-left: 247px;
    padding-top: 47px;
    padding-right: 28px;
}
.container-head h2 {
    font-family: opensans-light;
    color: #4e4c4c;
    font-weight: normal;
    font-size: 43px;
}
.container-head h2 span {
    color: #5885f5
}
.container-head p {
    font-family: opensans;
    font-size: 14px;
    line-height: 18px;
    color: #393838;
    margin-top: 21px;
    padding-right: 130px;
}
.filter-box {
    margin-top: 37px;
}
.filter-box .display-p {
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto-regular;
    color: #8f8f93;
    display: inline-block;
    margin-right: 5px;
    margin-left: 3px;
}
.filter-box .export-select.select-item-content {
    width: 60px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.export-select .option:nth-of-type(1) {
    margin-top: 0;
}

.filter-box .selected-item p {
    padding: 10px 15px 10px 8px;
    font-size: 14px;
    color: #a19c9c;
    font-family: Roboto-regular;
}
.filter-box .option-wrap p {
    color: #494951;
    padding: 10px 15px 10px 8px;
    font-family: Roboto-regular;
    font-size: 14px;
}
.filter-box .selected-item .option {
    border: none;
    background-color: #f6f7fc;
    background-image: url("../../../../assets/images/arrow-down.png");
}
.left-side-div {
    display: inline-block;
}
.filter-box .search-input {
    background-color: #f6f7fc;
    width: 234px;
    height: 38px;
    font-family: Roboto-regular;
    font-size: 14px;
    color: #222;
    text-indent: 28px;
    outline: none;
    border: none;
    background-image: url("../../../../assets/images/search-img2.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 8px center;
    float: right;
}
.filter-box .search-inpu::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8f8f93;
    font-size: 14px;
    font-family: Roboto-regular;
}
.filter-box .search-inpu::-moz-placeholder { /* Firefox 19+ */
    color: #8f8f93;
    font-size: 14px;
    font-family: Roboto-regular;
}
.filter-box .search-inpu:-ms-input-placeholder { /* IE 10+ */
    color: #8f8f93;
    font-size: 14px;
    font-family: Roboto-regular;
}
.filter-box .search-inpu:-moz-placeholder { /* Firefox 18- */
    color: #8f8f93;
    font-size: 14px;
    font-family: Roboto-regular;
}
.billing-activity-table-content {
    width: 100%;
    overflow-x: auto;
    padding-left: 4px;
    padding-top: 10px;
}
.billing-activity-table-content table {
    border-collapse: collapse;
    width: 100%;
}
.billing-activity-table-content td {
    font-family: opensans;
    color: #4a4a52;
    font-size: 16px;
    line-height: 24px;
    padding-left: 14px;
}
.billing-activity-table-content th {
    color: #818181;
    font-family: Roboto-bold;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    padding-left: 14px;
}
.billing-activity-table-content table tr:nth-of-type(1) {
    height: 38px;
    background-color: #323231 !important;
}
.billing-activity-table-content table tr:nth-of-type(1) th:nth-of-type(1) {
    border-top-left-radius: 4px;
}
.billing-activity-table-content table tr:nth-of-type(1) th:nth-last-of-type(1) {
    border-top-right-radius: 4px;
}
.billing-activity-table-content table tr {
    height: 50px;
}
.billing-activity-table-content table tr:nth-of-type(odd) {
    background-color: #f6f7fc;
}
.billing-activity-table-content table tr:nth-last-of-type(1)  {
    box-shadow: 0 5px 2px rgba(228, 228, 228, 0.3);
}

.billing-activity-table-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(230,230,230,0.3);
    background-color: rgba(230,230,230,1);
}

.billing-activity-table-content::-webkit-scrollbar {
    height: 8px;
    background-color: rgba(230,230,230,1);
}

.billing-activity-table-content::-webkit-scrollbar-thumb {
    background-color: #5885f5;
    border: 2px solid #5885f5;
}
.billing-activity-table-content td:nth-of-type(1),
.billing-activity-table-content td:nth-of-type(2) {
    min-width: 220px;
}
.header-menu-btn {
    background-image: url(../../../../assets/images/menu-img-white.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 17px;
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: pointer;
    display: none;
}


@media (max-width: 1000px) {
    .container-head p {
        padding-right: 10px;
    }
}
@media (max-width: 768px) {
    header {
        height: 30px;
    }
    main {
        padding-left: 28px;
    }
    aside {
        display: none;
    }
    header .col-10 {
        width: 94%;
    }
    .header-menu-btn {
        display: inline-block;
    }
}
@media (max-width: 600px) {
    .filter-box .search-input {
        float: initial;
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .container-head h2 {
        font-size: 25px;
    }
}
