main {
    padding-left: 247px;
    padding-top: 47px;
    padding-right: 28px;
}
.container-head h2 {
    font-family: opensans-light;
    color: #4e4c4c;
    font-weight: normal;
    font-size: 43px;
}
.container-head h2 span {
    color: #5885f5
}
.container-head p {
    font-family: opensans;
    font-size: 14px;
    line-height: 18px;
    color: #393838;
    margin-top: 21px;
    padding-right: 130px;
}
